:root {
  --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Neue Haas Grotesk Text Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --color: #7fafff, #dec1fe, rgba(255, 201, 186, 0.9), rgba(69, 179, 191, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  outline: 0;
  list-style: none;
  border: 0;
}

body {
  font-family: var(--font-default);
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  overflow: hidden;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100vh;
}

.background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: fadein 1s;
}

.background-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/bgc_base.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  width: 100%;
  height: 60px;
  flex: 0 60px;
  justify-content: space-between;
}

#weather {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 16px;
  align-items: end;
  cursor: default;
}
.metric {
  display: flex;
  align-items: center;
}
.temp-icon {
  width: 50px;
  height: 40px;
  overflow: hidden;
}
.temp-icon img {
  width: 55px;
  height: 40px;
  object-fit: cover;
}

.temp {
  font-size: 25px;
  font-weight: 400;
}

.city {
  font-size: 1.14em;
  font-weight: 400;
  margin-top: -7px;
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.822);
}

/* clock greeting*/
.clock-greeting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 40%;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 800%;
  letter-spacing: -5px;
  font-weight: 400;
  cursor: default;
  line-height: 1;
  text-align: center;
}

#clock-date {
  font-size: 160%;
}
#name-input {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #fff;
  background: transparent;
  font-size: 3em;
  line-height: 1.2;
  caret-color: #fff;
  text-align: center;
  color: #fff;
}

#name-input::placeholder {
  color: #fff;
  text-align: center;
}

#name-input:focus::placeholder {
  opacity: 0;
}

#greeting {
  font-size: 3.375em;
  line-height: 1.2;
  font-weight: 500;
}

.hidden {
  display: none;
}
.center {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 40%;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
/* calendar */
.calendar {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 16px;
  color: black;
  font-size: 18px;
}

.calendar-top {
  display: flex;
  padding-top: 18px;
  padding-bottom: 17px;
  justify-content: space-around;
  align-items: center;
}

.date {
  text-align: center;
  cursor: default;
}

.month {
  font-weight: 700;
  font-size: 1.6em;
  color: #f8788f;
}
.date p {
  font-size: 0.9em;
  font-weight: 400;
  color: grey;
}
.prev-month,
.next-month {
  cursor: pointer;
  color: grey;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
}
.prev-month:hover {
  padding-right: 8px;
  transition: 0.2s;
}
.next-month:hover {
  padding-left: 8px;
  transition: 0.2s;
}

.calendar-days {
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 1em;
  color: #6691db;
  cursor: default;
}
.calendar-days div {
  width: calc(15em / 7);
  justify-content: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid pink;
}
.calendar-date {
  display: flex;
  font-size: 1em;
  flex-wrap: wrap;
  padding: 5px;
  color: #6691db;
  font-weight: 300;
  cursor: default;
}

.calendar-date div {
  width: calc(13.18em / 7);
  height: 1.78em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 6px 10.6px;
}

.calendar-date div:hover {
  background-color: rgba(40, 131, 250, 0.7);
  color: rgb(240, 240, 240);
}
.clicked {
  background-color: rgba(40, 131, 250, 0.7);
  color: rgb(240, 240, 240);
}
.today {
  background-color: rgba(253, 100, 120, 0.705);
  color: #fff;
}

.prev-date,
.next-date {
  color: grey;
}

/* todo-list */
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 201, 186, 0.9),
    40%,
    rgba(69, 179, 191, 0.9)
  );
  opacity: 1;
  border-radius: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  color: #ffffff;
  overflow: hidden;
}

.todo-header {
  padding: 26px 26px 10px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: rgb(116 116 116 / 60%) 1px 1px 1px;
}

.todo-question {
  font-size: 1.7em;
  font-weight: 300;
  padding: 5px 10px 10px 10px;
  cursor: default;
}

.todo-header div {
  width: 97%;
}
#todo-input {
  width: 100%;
  font-size: 1.1em;
  caret-color: rgb(255, 255, 255);
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 100;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#todo-input::placeholder {
  color: #fff;
}

.todo-content {
  min-width: 200px;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 0 0 20px 0;
}

#todo-list {
  width: 100%;
  max-height: 30vh;
  overflow: auto;
}

#todo-list li {
  position: relative;
  line-height: 1;
  padding: 12px 30px;
  border-bottom: 1px solid rgba(127, 175, 255, 0.6);
  display: flex;
  align-items: center;
}
#todo-list li:last-child {
  border-bottom: 0;
}

#todo-list li input {
  -webkit-appearance: none;
  cursor: pointer;
}
#todo-list li input::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
#todo-list li input:checked::after {
  background-color: rgba(236, 250, 40, 0.705);
  border: 0;
  width: 22px;
  height: 22px;
}
#todo-list li label {
  padding: 0 10px;
  font-weight: 400;
  flex-grow: 2;
}

#todo-list li input:checked + label {
  text-decoration: line-through;
  color: #fbfbdaa3;
}

#todo-list li button {
  font-size: 20px;
  width: 25px;
  height: 25px;
  padding: 2px;
}
#todo-list li button::before {
  content: '\e800';
  font-family: fontello;
  color: #f83c49cc;
}

/* music player */
.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 80px 0 10px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container img {
  border-radius: 50%;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  color: #dfdbdf;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  transform: translateY(0);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  opacity: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  transition: width 0.1s linear;
}
/* quote */
#quote {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0.8;
  padding-top: 10px;
}
